#header {
  height: 40px;
  background: linear-gradient(to bottom, #505050, black);
  top: 0px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  color: white;
  font-family: serif;
}
body {
  background: #59120e;
  font-family: sans-serif;
}
#sidebar {
  width: 90px;
  background: black;
  left: 0;
  height: 80vh;
}
#footer {
  bottom: 0;
  background: linear-gradient(to bottom, black, #505050);
  height: 30px;
  color: darkgrey;
}
#header h4 {
  margin-left: 10px;
  font-size: 30px;
  text-shadow: 1px 0px 0px #59120e;
  margin-top: 35px;
  font-family: 'Google Sans Flex';
}
.gsc-input-box {
  width: 75vw !important;
  padding-left: 50px !important;
  border-radius: 30px 0px 0px 200px;
}
.gsc-search-button-v2 {
  background: linear-gradient(#17782d 0%, #0f4d1d 50%, #092e11 50%, #198031) !important;
  border-radius: 0px 10px 10px 0px;
}
#header button {
  background: linear-gradient(#821717 0%, #4d0f0f 50%, #2e0909 50%, #803019);

  border: none;
  height: 40px;
  width: 490%;
  color: white;
  transition: background 1s ease;
  border-right: 1px solid black;
}
section {
  background-color: black;
background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
  color: white;
  padding: 10px;
  padding: 10px;
  padding: 10px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: 'Google Sans Flex';
}
#image-wrap {
  width: 100%;
  text-align: center;
}
section img {
  width: 80%;
  border: 10px groove black;
}
section h3 {
  font-weight: normal;
  /*font-style: italic;*/
  font-size: 30px;
}
section button:hover, #header button:hover {
  background: linear-gradient(red 0%, #4d0f0f 50%, #2e0909 50%, darkred);
  color: white;
}
#contact ul {
  padding-left: 0;
}
#contact img {
  width: 30%;
}
section button {
  background: linear-gradient(#821717 0%, #4d0f0f 50%, #2e0909 50%, #803019);

  height: 40px;
  width: 10%;
  color: white;
  transition: background 1s ease;
  border: none;
}
#header button:nth-of-type(1) {
  width: 400%;
  margin-left: 10px;
  border-radius: 0 0 0 50%;
}
#header button:nth-of-type(1) {
  width: 400%;
  margin-left: 10px;
  border-radius: 0 0 0 50%;
}
#header button:nth-of-type(7) {
  width: 400%;
  margin-right: 1px;
  border-radius: 0px 10px 10px 0px;
}
#header button:nth-of-type(4):before {
  content: "";
  display: block;
  position: absolute; 
  width: 4px;
  height: 40px;
  background: linear-gradient(
  #f2f2f2 0%,
  #cccccc 50%,
  #999999 50%,
  #e6e6e6
);
  z-index: -1; 

  top: 0%;
  margin-left: 90%;
  
}
#header button:nth-of-type(4) {
  position: relative;
  z-index: 1;
}
#header button:nth-of-type(4):after {
  content: "";
  display: block;
  position: absolute; 
  width: 4px;
  height: 40px;
  background: linear-gradient(
  #f2f2f2 0%,
  #cccccc 50%,
  #999999 50%,
  #e6e6e6
);
  z-index: -1; 

  top: 0%;
  right: 0;
}
